$bgColorPrimaryButton: #4f2ac3;
$bgColorFrontEvent: linear-gradient(#1B6CA7, #442BDB);
$bgColorUiUxEvent: linear-gradient(#442BDB, #89223b);
$bgColorDataScienceEvent: linear-gradient(#89223b, #9c791D);
$bgColorBackEvent: linear-gradient(360deg, #89223b, #9c791D);
$textColorInfosbar: #000;
$textColor: #fff;
$bgColorInfosbar: #fff;
